<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <clear/>
    <!--添加profile提供程序连接字符串-->
    <add name="LocalSqlServer"
      connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=aspnetdb;Data Source=.;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient"/>
    <add name="Login"
      connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=db_Student;Data Source=.;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
    <add name="News"
      connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=db_news_Data;Data Source=.;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
    <add name="Test" connectionString="Persist Security Info=True;User ID=sa;Password=123456;Initial Catalog=test;Data Source=.;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="sqlStr"
      value="0A1D00D3D044F3B76343744178C4568BE7FFA7A5204207D4C01EF799EE8393F69D4B61F63733CCB70E86864C01BC23E3C4AF8B5A05C5A6434540C07149A505EA32E330201648986F30DB4A1CAC44FB539D13965AA77404979CCE877041EBBB6197EFA163F2508A85E4BB5FBF243F30FCF7CA0E549594C109 "/>
  </appSettings>
  <!--添加实现了IHttpHandler的处理程序（包括自定义的处理程序和.ashx处理程序）-->
  <system.webServer>
    <handlers>
      <!--ASPX文件-->
      <add name="SampleHandler" verb="*" path="CallSampleHandler" type="DailyNotes.HttpHandler.SampleHandler,DailyNotes"/>
      <add name="InfoHandler" verb="*" path="CallInfoHandler" type="DailyNotes.HttpHandler.InfoHandler,DailyNotes"/>
      <add name="JpgHandler" verb="*" path="*.jpg"  type="DailyNotes.HttpHandler.JpgHandler, DailyNotes" />
      <add name ="myHandlerFactory" verb="*" path="*.MY" type="DailyNotes.HttpHandler.HandlerFactory, DailyNotes"/>
      <add name="myHandler1" verb="*" path="Handler1.MY" type="DailyNotes.HttpHandler.Handler1, DailyNotes"/>
      <add name="myHandler2" verb="*" path="Handler2.MY" type="DailyNotes.HttpHandler.Handler2, DailyNotes"/>
      <!--<add name="处理程序名" verb="HTTP方法（GET、POST、HEAD等）（*表示所有）" path="指定用户URL链接的path（任意名字）"  type="标识实现了IHttpHandler的类的type" />-->
      <!--MVC文件-->
      <!--<add name="处理程序名" verb="HTTP方法（GET、POST、HEAD等）（*表示所有）" path="ExtensionlessUrlHandler"  type="标识实现了IHttpHandler的类的type" />-->
    </handlers>
    <!--添加实现了IHttpModule的模块-->
    <modules>
      <add name="SampleModule" type="DailyNotes.HttpModule.SampleModule,DailyNotes"/>
      <!--<add name="模块名称" type="标识实现了IHttpModule的类的type"/>-->
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <anonymousIdentification enabled="true"/>
    <profile>
      <properties>
        <add allowAnonymous="true" name="Color" type="System.String" serializeAs="Xml"/>
        <add allowAnonymous="true" name="ShoppingCart" type="DailyNotes.Models.ShoppingCart" serializeAs="Binary"/>
        <group name="UserInfo">
          <add allowAnonymous="true" name="Name" type="System.String" serializeAs="Binary"/>
        </group>
      </properties>
    </profile>
    <httpRuntime targetFramework="4.5"/>
    <!--Asp.Net Trace 页面级的配置-->
    <!--<%@ Page="" Async="true" Language="C#" Trace="true" TraceMode="SortByTime" AutoEventWireup="true" CodeBehind="APM.aspx.cs" Inherits="DailyNotes.APM" %>-->

    <!--Asp.Net Trace 应用程序级的配置-->
    <!--<trace enabled="true" pageOutput="true" requestLimit="20" traceMode="SortByTime" localOnly="true"/>-->

  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>